

.side-nav{
    background-color: rgb(53, 53, 53);
    width: 200px;
    height: 1400px;
    position: fixed;
}

.side-nav a{
    color: beige;
}

.side-nav p{
    color: beige;
}

.card{
    width: 400px;
}