#uppernav{
    margin-left: 255px;
    position: fixed;
}

/*side navbar*/
.side-nav{
    background-color: rgb(53, 53, 53);
    width: 255px;
    height: 1400px;
    position: fixed;
}

.side-nav a{
    color: beige;
}

.side-nav p{
    color: beige;
}

/*Row of this small cards in the upper part of the page*/
/* #grid1 {
    margin-left: 300px;

} */

.row {
    background-color: rgb(255, 255, 255);
}


.list-group{
    margin-left: 255px;
}



#grid2 {
    margin: 255px;
}